<div class="container">
  @if(b()) {
  <div class="item w-100">
    <div
      class="main-image"
      [ngStyle]="{
        'background-image': 'url(' + getBigImage+')'
      }"
    
    >
  </div>

    <div class="item-content move-up">
      <div class="row h-100 ">
        <div class="col-sm-4 logo-wrap">
          <div
            class="logo"
            [ngStyle]="{
              'background-image':
                'url(' +getLogo +')'
            }"
            [ngClass]="{'category-image':b()?.hasLogo!=true}"

          ></div>
          <div class="b-details pt-3">
            <!-- <div class="category">
      <span>{{b()!.categories[0]}}</span>
    </div> -->
          </div>
        </div>
        <div class="col-sm-8 item-description flex-column">
         <div class="description-header p-2">

         </div>
          <div class="description-content d-flex justify-content-center align-items-center">
            <div class="details">
                        <h2 class="name">{{ b()?.value }}</h2>
                        <h3 class="slogan">{{ b()?.slogan }}</h3>

              <span class="description-text"> {{ b()!.description }} </span>

              <div>
               
              </div>
              <div class="opening-hours" *ngIf="b()?.hours">
              <span class="text-decoration-underline">שעות פתיחה</span>
                <div *ngFor="let hour of b()?.hours">
                  <div class="font-weight-bold" >{{ hour.days }}

                      <span dir="ltr" *ngIf="hour.from">
                                      {{ hour.from }} - {{ hour.to }}

                  </span>
                  </div>
                
                </div>
              </div>
              <div class="contact-details mt-2">
                <div class="phone-number" *ngIf="b()?.phone">
                  <input *ngIf="phoneNumber()==''" type="button" (click)="showPhoneNumber()" class="btn btn-link" value="הצג מספר"/>
                  <span class="fw-bold">{{phoneNumber()}}</span>
                </div>
                <div *ngIf="b()?.email" dir="ltr">
                  {{b()?.email}}
                </div> 
                <div *ngIf="b()?.website">
                 <a href="{{b()?.website}}" target="_blank">{{b()?.website}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="description-footer" *ngIf="b()?.address">
            <img src="icons/landmark.svg" width="30"/>
             {{ b()?.address }}
          </div>
        </div>
      </div>
    </div>

    <div class="text-center pt-2">
      <a type="button" routerLink="/category" class="btn btn-link color1 text-decoration-none nav-btn" >  
        לכל העסקים
        <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"></path>
        </svg>
      </a>
    </div>
    <div *ngIf="magazineItem()" class="ad-item1">
      <app-full-screen-image [imageSrc]="imagesUrl() +b()?.name+  '/pirsum.jpg'"></app-full-screen-image>

      <!-- <img [src]="imagesUrl() +b()?.name+  '/pirsum.jpg'" [alt]="b()?.name" loading="lazy" width="100%"> -->

    </div>

  </div>
  }
</div>
