<div class="container " >
<!-- @if (bs.isLoading()) {
    <p>טוען...</p>
    }
  <div class="row">
    @for (item of bs.value(); track item.id) {
    <div class="col-sm-4">
      <app-b-post [b]="item"></app-b-post>
    </div>
    } @empty {
    <li>There are no items.</li>
    }
  </div> -->
  <div class="search-section">
      <div class="search-container position-relative mb-2">
    <input type="search" class="form-control search-input" (input)="search($event)" placeholder="חפש עסק"/>
    <img src="icons/search-icon.png" class="search-icon" alt="Search">
</div>
  </div>
  <div class="d-flex b-list">
         @for (item of filteredItems(); track item.id) {
    <div class="">
      <app-b-post [b]="item"></app-b-post>
    </div>
    } @empty {
      <div class="w-100 text-center">
            <span class="">אין נתונים להצגה</span>
      </div>
    }
 
  </div>
</div>
