.category-page{
    margin-top:3rem;
    .category-image{
    margin:0 auto;
    img{
    width:120px;
    margin-bottom:-30px;
    }
}

.category-name{
    font-size: 5rem;
}
}

.search-container{  
          width:var(--item-width);
}

.b-list{
    flex-wrap: wrap;
    gap: 1rem;
    @media (max-width: 768px) {
        justify-content: center;
      }
  }

  @media (max-width: 768px) {
    .search-section{
        text-align: center;
    }
  }