<div class="first-section text-center" 
[ngStyle]="{ 
  'background-image': 'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(\'images/home.jpg\')'  }"
> 
  <div class="logo">רמה ד</div>
  <h1>כל השכונה במקום אחד</h1>
  <h2>עסקים, נדל"ן, ועוד </h2>
 

  <!-- <input
    type="button"
    (click)="navigateToB()"
    class="btn btn-primary mt-3 btn-lg"
    value="בעל עסק? לחץ כאן"
  /> -->
</div>
 <div class="second-section"> 
     <div class="soon mb-3">בקרוב!</div>

    <h2 class="display-5">להוספת עסק</h2>
    <span class="display-3">{{'service.@rama-d.co.il'}}</span>
</div>