<div class="first-section text-center" 
[ngStyle]="{ 
  'background-image': 'linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7)), url(\'images/home.jpg\')'  }"
> 
  <div class="logo">        <img src="images/logo-white.png" alt="Logo" width="200" class="d-inline-block align-text-top">
  </div>
  <h1 class="style-5">רמה ד' אונליין</h1>
  <h2>עסקים. נדלן. וכל מה שיש בשכונה</h2>


  <!-- <input
    type="button"
    (click)="navigateToB()"
    class="btn btn-primary mt-3 btn-lg"
    value="בעל עסק? לחץ כאן"
  /> -->
</div>
<div class="container">
 <div class="second-section"> 

    <h2 class="display-5 mt-3">להוספת עסק</h2>
    <span class="display-3">{{'service@rama-d.co.il'}}</span>
         <div class="soon mb-3">בקרוב...</div>

</div>


  <div class="w-100 text-center frame p-md-4">
             <h3>כל העסקים בשכונה</h3> 
      <img src="images/screenshot/4columns.png" width="100%" class="mb-3"/>
      <img src="images/screenshot/b.png" width="100%" class=""/>
</div>
<div class="w-100 text-center frame p-md-4 position-relative">
  <h3 class="gallery-or-magazine ">פרסום בתצוגת גלריה או מגזין</h3> 
  <div class="display-mode text-center p-2">
    <div class="mb-3">
      <div>גלריה</div> 
                <img src="icons/gallery.svg" width="60" />

    </div>
    <div>
        <div>מגזין</div>
                <img src="icons/magazine.svg" width="60" />

    </div>
</div>
<img src="images/screenshot/pirsum.png" width="50%" class=""/>
<img src="images/screenshot/magazine.png" width="50%" class=""/>
</div> 
<div class="w-100 text-center frame p-md-4">
  <h3><img src="icons/categories/7.svg" width="50"/>

      ועוד הפתעות רבות...
  </h3>
</div>
</div>