.categories-box {
  .categories-items{
    flex:1;
    position: relative;
  }
  
  width: 100%;
  height: 100%;
  border: 1px solid #d8d8d8; 
    overflow: hidden;
    box-shadow: 0 0 10px -5px rgba(23, 45, 81, 0.51);
    background-color: #fff;
}

.category {
  position: absolute;
  color: gray;
  padding: 5px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    //transform: scale(1.05);
    //transform: translateY(-3px);
    cursor: pointer;
    color: black;
    .category-image {
      opacity: 1 !important;
      transform: scale(1) !important;
      //animation:none;
    }
    .category-name {
      opacity: 0 !important;
    }
  }
  .category-name {
    opacity: 0; // Initially hidden
    transition: all 0.3s ease-in-out;
    animation: showCategoryName 0.3s ease-in-out forwards;
  }
  
  .category-image {
    position: absolute;
    top: 10%;
    transform:scale(1);
    opacity: 1; // Initially visible
    transition: all 0.3s ease-in-out;
    animation: hideCategoryImage 0.3s ease-in-out forwards;
    
    img {
      width: 30px;
    }
  }

   // Set different delays for every third item
   &:nth-child(3n + 1) {
    .category-name {
      animation-delay: 2s;
    }
    .category-image {
      animation-delay: 2s;
    }
  }

  &:nth-child(3n + 2) {
    .category-name {
      animation-delay: 2.2s;
    }
    .category-image {
      animation-delay: 2.2s;
    }
  }

  &:nth-child(3n + 3) {
    .category-name {
      animation-delay: 2.4s;
    }
    .category-image {
      animation-delay: 2.4s;
    }
  }
  
  // Animations
  @keyframes showCategoryName {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes hideCategoryImage {
    from {
      opacity: 1;
      transform:scale(1);
    }
    to {
      opacity: 0;
      transform:scale(0.5);
    }
  }
}

.size-1 {
  font-size: 10px;
  padding: 8px;
  img{
    width:30px !important;
  }
}

.size-2 {
  font-size: 16px;
  padding: 12px;
  img{
    width:50px !important;
  }
}

.size-3 {
  font-size: 20px;
  padding: 16px;
   img{
    width:65px !important;
  }
}

.size-4 {
  font-size: 30px;
  padding: 20px;
  img{
    width:80px !important;
  }
}
